.wd-set-width-block {
    max-width: 506px;
}
.wd-set-width-image {
    max-width: 504px;
}
.wd-set-width-max-content {
    width: max-content;
}
.wd-font-bold {
    font-weight: 700;
}
.wd-padding-all-round {
    padding: 12px;
}
